<div class="max-w-6xl mx-auto bg-white p-6 rounded-lg shadow-lg">
    <h1 class="text-3xl font-bold mb-4">{{ standort.name }}</h1>
    <p><strong>Address:</strong> {{ standort.address.replace(',', ', ') }}</p>
    <p><strong>Phone:</strong> {{ standort.phone }}</p>
    <p><strong>Fax:</strong> {{ standort.fax }}</p>
    <p><strong>Email:</strong> <a href="mailto:{{ standort.email }}" class="text-blue-500">{{ standort.email }}</a></p>
    <p><strong>Homepage:</strong> 
        {% if standort.homepage != "None" %}
            <a href="{{ standort.homepage }}" target="_blank">{{ standort.homepage }}</a>
        {% else %}
            None
        {% endif %}
        </p>
    
    <!-- Leaflet Map -->
    <div id="map{{ standort.id }}" data-address="{{ standort.address.replace(',', ', ') }}" data-name="{{ standort.name }}" style="height: 300px;"></div>

    <h2 class="text-2xl font-bold mt-6 mb-4">Services Offered at This Location:</h2>
    <ul>
        {% for service in standort.services %}
        <li><a href="/services/{{ service.id }}" class="text-blue-500 view-service" data-service-id="{{ service.id }}">{{ service.service_name }}</a></li>
        {% endfor %}
    </ul>
</div>
